body {
  position:relative; /* Needed for hover positioning */
}

#info_div {
  position: absolute;
  opacity: 0;
  font-family: monospace;
  font-size: 10px;
  background-color: rgba(255,255,255,0.7);
  margin: 0px;
  padding: 5px;
  max-width: 200px;
  border-radius: 15px;
  border: 2px solid;
  pointer-events: none;
}

#info_div div {
  padding: 4px;
}

#info_div .swatch_color {
  border: 2px;
  border-radius: 3px;
  border-style: solid;
  font-size: 0px;
  height: 6px;
  width: 6px;
  display: inline-block;
  padding: 0px !important;
  margin: 0px !important;
  vertical-align: text-top;
}

#info_div img {
  float: right;
  top: -4px;
  position: relative;
  padding-left: 5px;
  width: 18px;
  height: 18px;
}

#current_date {
  font-size: 15px;
  text-align: center;
  width: 200px;
  padding: 5px;
  background-color: aliceblue;
}

#controls {
  text-align: center;
  display: none;
}

a {
  text-decoration: none;
  margin: 4px;
  display: inline-block;
}

.routes div#controls {
  display: block;
}

span#next_date, span#previous_date, span#play_button, span#stop_button {
  cursor: pointer;
}
span#next_date:hover, span#previous_date:hover, span#play_button:hover, span#stop_button:hover{
  color: blue;
  border-color: blue;
}

span#play_button, span#stop_button {
  border: solid black 1px;
  border-radius: 17px;
  height: 17px;
  width: 17px;
  display: inline-block;
  padding: 0px 0.5px 4px 4px;
}
span#stop_button {
  padding: 2px 2px 3px 2px;
}

svg #walls-layer path {
  stroke: #7e7e7e !important;
}

svg circle.mouse {
  pointer-events: none;
}

svg circle.route:hover {
  fill-opacity: 1 !important;
}

body.helper #layers-div span {
  padding: 0 10px;
}
body.helper svg #clock-layer rect {
  display: none;
}
