body {
  position:relative; /* Needed for hover positioning */
}

#info_div {
  position: absolute;
  opacity: 0;
  font-family: monospace;
  font-size: 10px;
  background-color: rgba(255,255,255,0.7);
  margin: 0px;
  padding: 5px;
  max-width: 200px;
  border-radius: 15px;
  border: 2px solid;
  pointer-events: none;
}

#info_div div {
  padding: 4px;
}

#info_div .swatch_color {
  border: 2px;
  border-radius: 3px;
  border-style: solid;
  font-size: 0px;
  height: 6px;
  width: 6px;
  display: inline-block;
  padding: 0px !important;
  margin: 0px !important;
  vertical-align: text-top;
}

svg #walls-layer path {
  stroke: #7e7e7e !important;
}

svg circle.mouse {
  pointer-events: none;
}


